@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

:root {
  --pink: hsl(322, 100%, 66%);
  --cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --blue: hsl(208, 11%, 55%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--blue);
  font-size: 18px;
  background-color: var(--cyan);
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 40px 20px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.nav > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 40px;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

.nav-btn {
  background-color: #fff;
  color: var(--dark-cyan);
  transition: all 0.3s ease-in-out;
}

.nav-btn:hover {
  color: #fff;
  background-color: var(--dark-cyan);
}

/* Hero Section */

.hero {
  background-image: url("./media/bg-hero-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 30px;
}

.hero-img {
  width: 100%;
}

.heading {
  color: var(--dark-cyan);
  font-size: 3rem;
  margin-bottom: 25px;
}

.desc {
  color: var(--dark-cyan);
  line-height: 28px;
  margin-bottom: 30px;
}

.pink {
  color: #fff;
  background-color: var(--pink);
  transition: all 0.3s ease-in-out;
}

.pink:hover {
  opacity: 0.7;
}

@media screen and (max-width: 819px) {
  .heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 631px) {
  .hero-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .hero {
    background-image: url("./media/bg-hero-mobile.svg");
  }
  .hero-img {
    margin-top: 30px;
  }
}

@media screen and (max-width: 443px) {
  .logo {
    width: 70%;
  }
  .nav-btn {
    font-size: 0.8rem;
    padding: 10px 15px;
  }
}

/* Cards Section */

.cards {
  background-color: #fff;
  padding-top: 70px;
  padding-bottom: 150px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  padding: 30px 20px 30px 100px;
  margin-bottom: 30px;
}

.card-img {
  width: 100%;
}

.subheading {
  color: var(--dark-cyan);
  margin-bottom: 15px;
}

.gray {
  color: var(--gray);
}

@media screen and (max-width: 768px) {
  .card {
    grid-template-columns: 1fr;
    padding: 30px;
    text-align: center;
  }
  .card:nth-child(2) > .card-img {
    grid-row: 1 / 2;
  }
}
